<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${subject}">Account Verification Template</title>
</head>
    <body style="font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #f7f7f7;">
        <div style="max-width: 600px; margin: 30px auto; background-color: #ffffff; padding: 20px; border-radius: 8px; box-shadow: 0 4px 6px rgba(0,0,0,0.1);">
            <h2 style="color: #333; text-align: center; font-size: 24px; margin-bottom: 20px;">Welcome to Our App!</h2>
            <p style="font-size: 16px; color: #555; line-height: 1.6;">Hi there,</p>
            <p style="font-size: 16px; color: #555; line-height: 1.6;">Thank you for registering with us. To complete your account activation, please click the verification link below:</p>
            <div style="background-color: #f9f9f9; padding: 20px; border-radius: 5px; box-shadow: 0 0 8px rgba(0,0,0,0.1); margin-top: 20px;">
                <h3 style="color: #333; font-size: 18px; margin-bottom: 10px;">Your Verification Link:</h3>
                <p style="font-size: 18px; font-weight: bold; color: #007bff; word-wrap: break-word; text-align: center;" th:text="${link}"></p>
            </div>
            <p style="font-size: 16px; color: #555; line-height: 1.6; margin-top: 20px;">If you didn't request this, please ignore this email.</p>
            <p style="font-size: 16px; color: #555; line-height: 1.6;">Best regards,<br/>The Automechanic Team</p>
        </div>
    </body>
</html>

